@model IEnumerable<MvcType.Models.Type>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Types</h1>

<p>
    <a asp-action="Create">Créer des types</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maladie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.maladie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idType">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.idType">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idType">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
