@model IEnumerable<MvcInjection.Models.Injection>

@{
    ViewData["Title"] = "Index";
}

<h1>Injection</h1>

<p>
    <a asp-action="Create">Créer nouvelle injection</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_rappel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_rappel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idInjection">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.idInjection">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idInjection">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
