@model IEnumerable<MvcPersonne.Models.Personne>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des personnes</h1>

<p>
    <a asp-action="Create">Créer une personne</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_naissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isResident)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_naissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isResident)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idPersonne">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.idPersonne">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idPersonne">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
